$gameZIndex: 500;

@mixin fullScreen() {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.gameContainer {
  @include fullScreen();
  z-index: $gameZIndex;
}

.overlayContainer {
  @include fullScreen();
  z-index: $gameZIndex * 2;
}
