$zIndex: 1000;

.overlay {
  width: 100vw;
  height: 100vh;
  z-index: $zIndex;
  background-color: rgba(0, 0, 0, 0.5);
}

.icon {
  position: absolute;
  z-index: $zIndex + 1;

  $iconSize: min(90vw, 90vh, 500px);
  width: $iconSize;
  height: $iconSize;
  left: calc((100vw - #{$iconSize}) / 2);
  top: calc((100vh - #{$iconSize}) / 2);
}

@media (prefers-reduced-motion: no-preference) {
  .spinning {
    animation: spin infinite 1s linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
